body{
background: rgb(76, 78, 175);
font: normal 25 pt Arial;

}

header{
    color: #161010;
    
    text-align: center;
}

section{
    background: rgb(251, 252, 253);
    border-radius:10px;
    padding:15px;
    width:500px;
    margin:auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

select#flista
{
    width: 150px;
}
footer{
    color: rgb(63, 58, 58);
    text-align:center;
    font-style:italic;
    }




